
.create-post-page {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 2%;
    display: flex;
    gap: 24px;
    justify-content: center;

}

#border5 {
    background-color: #F6F7F8;
    height: 100%;
    width: 3.5%;
    border-left: 1.5px solid #EDEFF1;

}

#nav-comms90 {
    width: 25px;
    height: 20px;
    border-radius: 100%;
    background-color: #0079D3;
    color: white;
    font-size: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin-left: 10px;
}

#user-community {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

#uc-img > img {
    width: 32px;
    height: 32px;
}

#hidden {
    display: none;
}

#div2 {
    background-color: #EDEFF1;
    height: 1px;
    margin-top: 10px;
}

#submit-c {
    margin-left: 10%;
    cursor: pointer;
}

#your-comms {
    width: 100%;
    font-size: 10px;
}


#your-comms > div:not(#div2){
    margin-left: 4%;
    margin-top: 3%;
    margin-right: 4%;
    cursor: pointer;
}

#your-comms > p {
    margin-left: 4%;
    color: #878A8C;
    font-size: 12px;
}

.create-post {
    width: 70%;
    margin-bottom: 100px;
}

.form {
    background-color: white;
    border: 0.3px solid #ccc;
    border-radius: 6.5px;
    overflow: hidden;
}

#tags > button {
    border-radius: 18px;
    padding: 5px;
    padding-left: 17px;
    padding-right: 17px;
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#oc {
    border: 1px solid #878A8C;
    background-color: white;
    color: #878A8C;
}

#oc2 {
    background-color: hotpink;
    color: white;
    border: 1px solid hotpink
}

#spoiler {
    border: 1px solid #878A8C;
    background-color: white;
    color: #878A8C;
}

#spoiler2 {
    background-color: black;
    color: white;
    border: 1px solid black;

}

#nsfw {
    border: 1px solid #878A8C;
    background-color: white;
    color: #878A8C;
}

#nsfw:hover, #oc:hover, #spoiler:hover {
    background-color: #f5f6f8 ;
    cursor: pointer;

}

#follow {
    width: 100%;
    background-color: #0079D3;
    border-radius: 20px;
    height: 32px;
    color: white;
    margin-bottom: 5px;
    border: 0px;
    font-size: 14px;
    cursor: pointer;
    padding: 0% 1%;
    font-weight: 700;
    margin: 4% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}

#a-img {
    position: absolute;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1.5px solid #0079D3;
    bottom: 0;
    right: 0;
    background-color: white;
    margin-bottom: -12%;
    margin-right: -12%;
    cursor: pointer;
}

#a-img > i {
    color: #0079D3;
    font-size: 18px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}

#a-img2 {
    position: absolute;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1.5px solid #0079D3;
    bottom: 0;
    right: 0;
    background-color: white;
    cursor: pointer;
    margin: 2%;
}

#a-img2 > i {
    color: #0079D3;
    font-size: 18px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}


#nsfw2 {
    background-color: rgb(207, 131, 169);
    color: white;
    border: 1px solid rgb(207, 131, 169)

}

#flair {
    border: 1px solid rgba(135,138,140,0.5);
    background-color: white;
    color: rgba(135,138,140,0.5);
    cursor: not-allowed;
}

#submit-buttons > button {
    border-radius: 18px;
    /* padding: 5px; */
    /* padding-left: 17px;
    padding-right: 17px; */
    width: 95px;
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#add-to2 {
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
    background-color: #F6F7F8;
    box-sizing: border-box;
    z-index: 3;
    display: flex;
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    align-items: center;
    border: 1px solid black;
    border-bottom: 0px;
    gap: 14px;
    cursor: not-allowed;
}

#description-posts:focus {
    border: 1px solid black;
}

.marg > i {
    height: 100%;
    position: absolute;
    right: 1%;
    background-color: #0079D3;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid white;
    color: white;
    font-size: 16px;
}

.post-input2 > input:focus, .post-input > input:focus {
    border: 1px solid black;
}

#post2 > i {
    height: 100%;
    position: absolute;
    right: 1%;
    background-color: #0079D3;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid white;
    color: white;
    font-size: 16px;
}

.marg {
    padding-right: 35px;
}

#post {
    border: 0px solid transparent;
    background-color: #7C7C7C;
    color: #ccc;
}

#post2 {
    border: 0px solid #0079D3;
    background-color: #0079D3;
    color: white;

}

#draft {
    border: 1px solid #878A8C;
    background-color: white;
    color: #878A8C;
}

#tags > button > .fi {
    height: 18px;
    font-size: 16px;
}

#tags > button > .fa-solid {
    height: 12px;
    font-size: 12px;
}

#tags {
    display: flex;
    gap: 4px;
    margin-bottom: 5px
}

.posting-on-l {
    width: 29%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;

}

#user-community2 > span {
    font-size: 12px;
    font-weight: 700;
}

#user-community2 > i {
    color: #0079D3;
    font-size: 24px;
    margin-top: -25px;
    cursor: pointer;
}

.your-community {
    background-color: white;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

#profile-header {
    width: 100%;
    height: 94px;
    background-color: rgb(51, 168, 255);
}

#Unapproved {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #0079D3;
    border-radius: 4px;
    padding: 1% 2%;
    border-left: 10px solid #0079D3;
}

#header-profile-comm10 {
    height: 100%;
    width: 100%;
}

#your-community {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 20px;
}

#community-info > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;

}

#community-info {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#options-link {
    display: flex;
    justify-content: flex-end;
}

#options-link > span {
    color: #0079D3;
    font-size: 14px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    height: 30px;
    border-radius: 20px;
    width: 110px;
    font-weight: 700;
    cursor: pointer;
}

#options-link > span:hover {
    background-color: #cccccc44;

}

#follow:hover {
    background-color: #0078d3ba;
}

#social-button {
    width: 46%;
    background-color: #EDEFF1;
    margin-left: 1%;
    margin-right: 1%;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
}

#social-button > i {
    height: 18px;
    font-size: 18px;
}

#ci-icon {
    font-size: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #878A8C;
}

#ci-icon > i {
    height: 13px;
    color: #0079D3;
}

#ci-name {
    font-size: 14px;
    font-weight: 700;
}

#community-info {
    display: flex;
}

#yc-avatar > img {
    width: 98%;
    height: 98%;
    border: 1.5px solid #EDEFF1;
    border-radius: 4px;
}

#yc-avatar {
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    margin-top: -65px;
    border: 3px solid white;
    width: 80px;
    height: 78px;

}

#user-button {
    width: 99%;
    display: flex;
    margin-left: 1%;
    align-items: center;
    margin-right: 1%;
    height: 32px;
    border-radius: 20px;
    /* background-color: hotpink; */
    color: white;
    border: 0px;
    justify-content: flex-end;
    cursor: pointer;
    background-image: linear-gradient(to right, hotpink, rgb(253, 159, 165));


}

#user-button > i {
    height: 18px;
    margin-right: 5%;
    font-size: 18px
}

#user-button > p {
    width: 80%;
    font-weight: 700;
    font-size: 14px;
}

#user-community2 {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#posting-on-l {
    background-color: white;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 10px;

}

#posting-on-l > div:first-child, #posting-on-l > p {
    padding-left: 15px;
    padding-right: 15px;
}

.posting-on-l > h4 > span {
    color: #0079D3;
}

.posting-on-l > h4 {
    font-size: 12px;
    color: #7C7C7C;
    margin: 0px
}

#title-limit {
    position: absolute;
    right: 0;
    font-size: 10px;
    bottom: 0;
    padding: 0.5%;
    color: #ccc;
}

#cp-title {
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    border-bottom: 1px solid #EDEFF1;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

#not-ava:hover {
    height: 32px;
    background-color: #cccccc99;
    display: flex;
    justify-content: center;
    width: 95px;
    border-radius: 20px;
}

#not-ava {
    height: 32px;
    display: flex;
    justify-content: center;
    width: 95px;
    border-radius: 20px;
}

#border2 {
    height: 1px;
    width: 99.8%;
    background-color: #EDEFF1;
    margin-bottom: 18px;


}

.hidden {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 6px;
}

.post-input > input {
    width: 100%;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid #EDEFF1;
    height: 39px;
    /* height: 186px; */
    padding-left: 1%;
    border-radius: 4px;
    margin-bottom: 6px;
    margin-top: -1px;
}

.post-input > textarea {
    width: 100%;
    box-sizing: border-box;
    height: 182px;
    border: 1px solid #EDEFF1;
    border-radius: 4px;
    padding-left: 1%;
    padding-top: 50px;
    resize: vertical; /* Allow vertical resizing only */

}

#upload-b {
    width: 15%;
    color: #0079D3;
    border-radius: 20px;
    height: 32px;
    background-color: white;
    border: 1px solid #0079D3;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}

#input-uploaded {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 138px;
    border: 1px solid #EDEFF1;
    border-radius: 4px;
    position: relative;
    gap: 10px;
    padding: 1.5%;
    resize: vertical;
}

#i-selected {
    width: 88px;
    height: 88px;
    border: 2px solid #878A8C;
    padding: 0.6%;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

#hidden {
    display: none;
}

#i-no {
    border-radius: 100%;
    color: black;
    font-size: 24px;
    position: absolute;
    right: 0;
    margin: 6%;
    background-color: white;
    height: 14px;
    display: flex;
    align-items: center
}

#i-m {
    color: #878A8C;
    font-size: 28px;
}

#i-m:hover {
    color: black;
}

#i-more {
    width: 88px;
    height: 88px;
    border: 2px dashed #EDEFF1;
    padding: 0.6%;
    border-radius: 4px;
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#upload-b:hover {
    /* opacity: 5%; */
}

#input-upload {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    color: #0079D3;
    height: 280px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px dashed #EDEFF1;
    border-radius: 4px;
    position: relative;
    resize: vertical; /* Allow vertical resizing only */

}

#cp-title > h3 {
    font-size: 18px;
    line-height: 10px;
}

#cp-title > div > div {
    display: flex;
    gap: 5px;
    align-items: center;
    /* padding: 0% 2%; */
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    /* margin-right: 3%; */
    cursor: pointer;
}

#cp-title > div > div:hover {
    background-color: #cccccc9c;
}

@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

#load {
animation: rotate360 2s linear infinite; /* Adjust the duration and timing function as needed */
}

#cp-title > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

#submit-buttons > button:nth-child(2):hover {
    background-color: #878a8c23;
}

.marg:hover {
    background-color: #95989a;
}

#cp-title > div > div > span {
    font-size: 12px;
    color: #0079D3;
    font-weight: 700;
    font-family: inherit;
}

#cp-title > div > div > p {
    background-color: #878A8C;
    color: white;
    width: 15px;
    height: 20px;
    font-weight: 200;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.post-input2 > input {
    width: 98.5%;
    margin-top: 6px;
    border: 1px solid #EDEFF1;
    height: 39px;
    border-radius: 4px;
    padding-left: 1%;
}

#submit-buttons > i {
    font-size: 20px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #7C7C7C;
    border-radius: 100%;
}

#submit-buttons > i:hover {
    background-color: #878a8c2f;
}

#submit-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    gap: 5px;
    align-items: center;
}

#type-of-post {
    margin-top: -2px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

}

#type-of-post > p > i {
    font-size: 20px;
    height: 20px;
}

#padding3 {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}


#add-to {
    width: 100%;
    height: 40px;
    margin-bottom: -0px;
    background-color: #F6F7F8;
    z-index: 3;
    border: 1px solid transparent;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    align-items: center;
    border: 1px solid transparent;
    border-bottom: 0px;
    gap: 14px;
    cursor: not-allowed;

}

#PFP34 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

#PFP36 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#divider16 {
    background-color: #EDEFF1;
    width: 1px;
    height: 14px;
}

#add-to i:first-child {
    margin-left: 14px;


}

#add-to > i:not(#divider16) {
    color: #7C7C7C;
    height: 18px;
}

#add-to > i:not(:first-child) {
    font-size: 18px;
}

#add-to2 i:first-child {
    margin-left: 14px;


}

#add-to2 > i:not(#divider16) {
    color: #7C7C7C;
    height: 18px;
}

#add-to2 > i:not(:first-child) {
    font-size: 18px;
}


.post-input {
    position: relative;
}


#p {
    width: 25%;
    height: 51px;
    align-items: center;
    border-bottom: 1px solid #EDEFF1;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: #878A8C;
    font-weight: 700;
    display: flex;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
}

.header-postC {
    height: 38px;
    width: 100%
}

#p2 {
    width: 25%;
    height: 53px;
    align-items: center;
    border-bottom: 2px solid #0079D3;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: #0079D3;
    font-weight: 700;
    display: flex;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
}

#p:hover, #p2:hover {
    background-color: #eff7fe;
}

#i, #l {
    border-left: 1px solid #EDEFF1;
    width: 25%;
    height: 51px;
    align-items: center;
    border-bottom: 1px solid #EDEFF1;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: #878A8C;
    font-weight: 700;
    display: flex;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
}

#pol {
    color: rgba(135,138,140,0.5);
    border-left: 1px solid #EDEFF1;
    width: 25%;
    height: 51px;
    align-items: center;
    border-bottom: 1px solid #EDEFF1;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    gap: 5px;
    justify-content: center;
    cursor: not-allowed;
}

#i2 {
    border-left: 1px solid #EDEFF1;
    width: 25%;
    height: 53px;
    align-items: center;
    border-bottom: 2px solid #0079D3;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: #0079D3;
    font-weight: 700;
    display: flex;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
}

#l2 {
    border-left: 1px solid #EDEFF1;
    width: 25%;
    align-items: center;
    height: 53px;
    border-bottom: 2px solid #0079D3;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: #0079D3;
    font-weight: 700;
    display: flex;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
}

#i:hover, #l:hover {
    background-color: #eff7fe;

}

#i2:hover, #l2:hover {
    background-color: #eff7fe;

}

#notify-me > label {
    display: flex;
}

#border3 {
    background-color: #EDEFF1;
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#notify-me > label > input[type="checkbox"] {
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    /* width: 50px */
}

#notify-me > label > input {
    width: 20px;
    cursor: pointer;
}

#notify-me {
    background-color: #F6F7F8;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#search2 {
    background-color: white;
    z-index: 4;
    height: 300px;
    display: flex;
    position: absolute;
    border: 2.5px solid #EDEFF1;
    border-top: 1px;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    border-bottom-left-radius: 4px; /* Adjust the value as needed */
    border-bottom-right-radius: 4px;

}

#choose-comms1 > i, #choose-comms {
    color: #878A8C;
}

#choose-comms1 > .fi, #choose-comms > .fi {
    font-size: 22px;
    margin-left: 10px;
}

#choose-comms3 > i, #choose-comms {
    color: #878A8C;
}

#choose-comms3 > .fi, #choose-comms > .fi {
    font-size: 22px;
    margin-left: 10px;

}


#search-comms {
    height: 40px;
}

.search-comms {
    width: 38%;
    height: 45px;
    position: relative;

}

#choose-comms {
    background-color: white;
    height: 50px;
    width: 38.4%;
    flex-direction: row;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;
    border-bottom: 1px solid #EDEFF1;
    border-top: 2.5px solid #EDEFF1;
    border-radius: 0px;
}

#choose-comms > .fa-solid {
    margin-left: 6%;

}

#choose-comms {
    line-height: 5px;
    font-size: 12px;
    border: 2.5px solid #EDEFF1;
    width: 38%;
    height: 45px;
}

#choose-comms1 {
    background-color: white;
    height: 35px;
    border: 2.5px solid #EDEFF1;
    border-bottom: 1px solid #EDEFF1;
    width: 38.4%;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 5px;
    border-top-left-radius: 4px; /* Adjust the value as needed */
    border-top-right-radius: 4px;
}

#choose-comms1 {
    line-height: 5px;
    font-size: 12px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #EDEFF1;
    border-top: 2.5px solid #EDEFF1;
    height: 50px;
}

#choose-comms1 > .fa-solid{
    cursor: pointer;
    margin-right: 10px;

}

#choose-comms3 {
    background-color: white;
    border: 2.5px solid #EDEFF1;
    border-bottom: 2.5px solid #EDEFF1;
    width: 38.4%;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 5px;
    border-top-left-radius: 4px; /* Adjust the value as needed */
    border-top-right-radius: 4px;
}

#none-comm3 {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-m {
    display: flex;
    /* border-left: 8px solid #F6F7F8; */
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

#choose-comms3 {
    line-height: 5px;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 0px;
    border: 0;
    border-top: 2.5px solid #EDEFF1;
    width: 100%;
    height: 50px;
}

#choose-comms3 > .fa-solid{
    cursor: pointer;
    margin-right: 10px;

}

#choose-comms > input {
    width: 80.95%;
    border: 0px;
    height: 20px;
    font-size: 14px;
}

#choose-comms > input::placeholder {
    color: black; /* Change to your desired color */
}

#input-button {
    width: 95.95%;
    border: 0px;
    height: 20px;
    font-size: 14px;
    color: black
}

#input-button::placeholder {
    color: black; /* Change to your desired color */
}

#choose-comms > .fa-solid {
    cursor: pointer;
    margin-right: 10px;
}

#whatever {
    height: 20px;
    line-height: 20px;
    display: flex;
}

#uc-name {
    font-size: 14px;
    line-height: 5px;
}

#user-community {
    display: flex;
    align-items: center;
}

#choose-comms > img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: 10px;

}

#notify-me > p {
    color: #0079D3;
    display: flex;
    gap: 5px;
    line-height: 10px;
    align-items: center;
    cursor: pointer;
}

#notify-me > p > i{
    color: #7C7C7C;
    display: flex;
    font-size: 18px;
    /* height: 30px; */
}

#notify-me {
    font-size: 14px;
    border-top: 0.8px solid #EDEFF1;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 700;


}

#pols > img {
    width: 45px;
    height: 45px;
    border-left: 1px solid white
}

#pols {
    display: flex;
    width: 100%;
    height: 50px;
}

#posting-on-l > p {
    font-size: 13.5px;
    font-weight: 600;
    line-height: 15px;
}

#border9 {
    height: 1px;
    background-color: #EDEFF1;
}

#pols > h3 {
    font-size: 16px;
}

#upload-b:hover {
    background-color: #0078d318;
}

#all-user-comms > p {
    font-size: 14px;
}
