
#signup-form {
    background-color: white;
    padding: 6%;
    border-radius: 20px;
    width: 50%;
}

#input-err {
    padding: 5%;
    width: 90%;
    border-radius: 20px;
    background-color: #f6f7f8;
    color: #ccc;
    border: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#input-err2 {
    padding: 5%;
    width: 90%;
    border-radius: 20px;
    background-color: #f6f7f8;
    border: 1px solid red;
    color: #ccc;
    margin-top: 8px;
    margin-bottom: 8px;
}


#form-sign > button {
    margin-top: 8px;
    width: 100%;
    padding: 4%;
    background-color: hotpink;
    color: white;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
}

#login-form > p > span {
    color: #0079D3;
    font-size: 12px;
}

#signup-form > p {
    font-size: 12px;
}


#signup-form > h1 {
    font-size: 20px;
}

#sign-up2 {
    font-size: 12px
}

#sign-up2 > span {
    text-decoration: underline;
    color: #0079D3;
    cursor: pointer;
}

#error {
    font-size: 10px;
    color: red;
}
