@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

.hidden {
    display: none
}

.navigation {
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0%;
    height: 48px;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    border-bottom: 1px solid #EDEFF1;
}

textarea:focus {
    outline: none;
    /* transition: border-color 0.3s ease; */

}
/*
textarea:focus {
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-top: none;
} */

body {
    background-color: #DAE0E6;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}


#popularI {
    width: 34px;
    height: 30px
}

#img1 > i {
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}

#img {
    display: flex;
    align-items: center;
}

#luvddit {
    width: 32px;
    height: 32px
}

.logo {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.logo > div > h2 {
    font-size: 20px;
    font-weight: bold;
}

.logo > div > i {
    position: absolute;
    color: hotpink;
    font-size: 6px;
    top: 30%;
    margin-right: 0.46%
}

#pfpButton {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    border: 2px solid #f6f7f8;
}

.logo > div {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    /* height: 20px; */
}

#advertise {
    display: flex;
    gap: 5px;
    background-color: #edeff1;
    padding: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 18px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 13.5px;
    font-weight: bolder;
    align-items: center;
}

#advertise > i {
    font-size: 16px;
    display: flex;
    align-items: center;

}

#advertise:hover {
    background-color: #e4e4e4;
}

#search {
    display: flex;
    width: 30%;
    height: 40px;
}

#search > input {
    width: 100%;
    border-radius: 25px;
    background-color: #F6F7F8;
    border: 1px solid #EDEFF1;
    padding: 15px;
    padding-left: 10%;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
}

#search > input:focus {
    background-color: white;
    border: 1px solid #0079D3;
}

#mod-ms > span > i {
    font-size: 18px;
}


#feeds-ms > span > i {
    font-size: 18px;
}

#other-ms > span > i {
    font-size: 18px;
}



#search > input:hover {
    border: 1px solid #0079D3;
    background-color: white;
}


#search > i {
    align-self: center;
    position: absolute;
    margin-left: 1%;
    color: #acacac;
    font-size: 22px;
    margin-top: 0.2%;
}

#homeButton {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    height: 26px;
    border: 1px solid #ffffff;
    /* margin-left: 18px;
    margin-right: 8px; */

}

#homeB1 > a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    height: 16px;
    font-weight: bolder
}

#homeB1 {
    display: flex;
    gap: 10px;
    align-items: center
}

#homeB1 > i {
    font-size: 21px;
    display: flex;
    align-items: center;

}

#homeB2 > i {
    font-size: 12px;
}

.profile {
    width: 14%;
    margin: 5px;
    justify-content: flex-end;
    display: flex;
    position: relative;
}

#k {
    font-size: 11.5px;
    color: #878A8C;
    line-height: 1px;
}

#star > i {
    color: hotpink;
    font-size: 11.5px;
    display: flex;
    align-items: center;
    height: 5px;
}

#star {
    display: flex;
    gap: 3px;
    align-items: center;
    height: 5px;
}

#user {
    font-size: 12px;
}

#user, #k {
    font-weight: bolder;
}

#username > div {
    height: 48px;
}

#username {
    display: flex;
    align-items: center;
    gap: 5px;
    /* width: 100%; */
}

#username > button {
    height: 40px
}

#five > div > p {
    line-height: 4px;
    margin: 0px;
}

#username {
    display: flex;
    position: relative;
    flex-direction: column;
}

.profile-dropdown {
    position: fixed;
    border: 1px solid #EDEFF1;
    border-radius: 3px;
    width: 16.5%;
    height: 400px;
    overflow-y: scroll;
    background: white;
    margin-top: 3.4%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}


.profile-dropdown > div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EDEFF1;
    padding: 5%;
}

.profile-dropdown > div > span{
    height: 40px;
    font-size: 16px;
}

.profile-dropdown > button {
    margin: 5%;
}

#nameofuser {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    gap: 12px;
    justify-content: center;
}

#five {
    display: flex;
}

.profileButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    height: 30px;
    border: 1px solid #ffffff;

}

.profileButton2 {
    border: 1px solid #EDEFF1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    height: 30px;
    cursor: pointer;
}

#username2 > i {
    font-size: 12px;
    color: #878A8C;
}

#username > button {
    width: 30px;
    height: 30px;
}
.navigation > img {
    cursor: pointer;
}

#img1:hover {
    background-color: #e4e4e4;
    border-radius: 3px;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;

}

#img1 {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}

.profileButton:hover, #homeButton:hover {
    border: 1px solid #EDEFF1;
    border-radius: 3px;
    cursor: pointer;
}


#allIcons {
    height: 32px;
    width: 22%;
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.homeButton {
    /* display: flex; */
    align-items: center;
    width: 18%;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    padding: 5px;
    /* height: 26px; */
    /* border: 1px solid #ffffff; */
    margin-left: 18px;
    margin-right: 8px;
    position: relative;
}

#home-menu {
    background-color: white;
    z-index: 4;
    height: 500px;
    display: flex;
    position: absolute;
    flex-direction: column;
    border: 1px solid #EDEFF1;
    border-top: 0px;
    margin-top: -0.8%;
    overflow-y: scroll;
    width: 100%;
    overscroll-behavior: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#home-menu > input {
    font-size: 16px;
    height: 100%;
    margin: 6%;
    background-color: #F6F7F9;
    border: 1px solid #DAE0E6;
    padding: 4px;
    margin-bottom: 0%;
}

#home-menu > input:hover {
    background-color: white;
    border: 1px solid #0079D3;
}

#home-menu > input:focus {
    background-color: white;
    border: 1px solid #0079D3;
    border-radius: 0px;
}

#homeButton2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    border-radius: 3px;
    height: 26px;
    border: 1px solid #EDEFF1;
    cursor: pointer;
}

#hidden {
    display: none
}

#home-menu > div {
    display: flex;
    flex-direction: column;

}

#home-menu > div > span {
    padding-left: 8%;
    padding-right: 8%;
    height: 36px;
    display: flex;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    gap: 5px
}

#no-pfp {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #0079D3;
    color: white;
    font-size: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

#pfp-ms {
    width: 18px;
    height: 18px;
    border: 1.5px solid #EDEFF1;
}

#home-menu > div > span:hover:not(:first-child) {
    cursor: pointer;
    background-color: #EDEFF1;
}

#home-menu > div :first-child {
    color: #878A8C;
    font-size: 10px;
}

#nav-comms {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #0079D3;
    color: white;
    font-size: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

#homeB1 > div {
    font-size: 14px;
    font-weight: 900;
}

#all-comms-pfp {
    width: 30px;
    height: 30px;
    background-color: #0079D3;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}

#all-user-comms > div, #all-user-comms {
    cursor: pointer;
}

#all-user-comms {
    display: flex;
    align-items: center;
    gap: 6px
}

#your-comms5 {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    /* gap: 10px */
}

#your-comms5 > p {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    color: #878A8C;
    align-items: center;

}

#your-comms5 > p > span{
    color: #0079D3;
    padding: 2%;
    border-radius: 20px;
    width: 26%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

#your-comms5 > p > span:hover {
    background-color: #DAE0E6;

}
