
.whole-post-page {
    display: flex;
    /* margin-left: 9%;
    margin-right: 9%; */
    margin-top: 1.5%;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 8%;
}

.post-page {
    background-color: white;
    justify-content: flex-start;
    display: flex;
    border: 0.8px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 64%;
    display: flex;
}

.side-community {
    width: 26%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

#sort-comments > div > img {
    width: 38px;
    height: 25px;
    cursor: pointer;
}

#post-image1 {
    max-width: 100%;
    max-height: 700px;
    margin-bottom: 5%;
    margin-top: 1%;
}

#post-info1 {
    display: flex;
    margin-left: 6px;
    width: 100%;
}

#post-info1 > div {
    display: flex;
    width: 98%;
    justify-content: center;

}

#details-side {
    width: 100%;
}

#post-extras1 {
    display: flex;
    gap: 4px;
    align-items: center;
    color: #878A8C;
    height: 42px;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
}

#comment4, #menu, #comment5 {
    display: flex;
    gap: 5px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    height: 14px;
    align-items: center;
}

#comment4 > p, #comment5 > p {
    font-size: 12px;
    height: 20px;
    line-height: 16px;
}

#comment4 > .fa-brands {
    height: 22px;
}

#vote-side {
    display: flex;
    align-items: center;
    padding-top: 12px;
    flex-direction: column;
    gap: 4px;
    width: 40px
}

#vote-side > span{
    font-size: 14px;
}

#vote-side > i {
    font-size: 16px;
    cursor: pointer;
    color: #878A8C;
}

#sort-comments {
    display: flex;
}

#details-side > p {
    font-size: 12px;
    color: #878A8C;
    line-height: 10px;
    margin-left: 6px;
    margin-top: 1%;
    margin-bottom: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#post-info1 > p {
    margin-top: 1.5%;
}

#details-side > p > i {
    font-size: 20px;
    margin-right: 6px;
    margin-top: 0.5%;

}


#details-side > h1 {
    font-size: 20px;
    margin-left: 6px;
    margin-top: -1.5%;
    margin-bottom: 0%;
    margin-right: 6px;


}

#insights > p {
    font-size: 12px;
    line-height: 10px;
}

#insights {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 7.5%;
    margin-top: 3%;
}

#insights p:first-child {
    font-weight: 700;
    margin-top: 2%;
}

#insights p:nth-child(2) {
    color: #878A8C;
}

#insights > p > span {
    color: #0079D3;
}


#comment-as {
    font-size: 12px;
    margin-left: 6px;
    margin-right: 6px;

}

#sort-comments {
    color: #0079D3;
    font-size: 12px;
    margin-left: 6px;
    font-weight: 700;
    display: flex;
    gap: 14px;
    align-items: center;
    width: 96%;
    margin-right: 6px;
    margin-top: 60px;
    border-bottom: 1px solid #EDEFF1;
}

#sort-comments > div > p > i {
    margin-left: 5px;

}

#sort-comments > :nth-child(5) {
    display: flex;
    align-items: center;

}

.a-comment {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 5%;
}

#any-comments {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 25%;
}

#right-csec > span:not(div) {
    font-weight: 900;
}

#comment-extras {
    display: flex;
    gap: 14px;
    align-items: center;
}

#comment-extras > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    color: #7c7c7c;
    font-weight: 900;
    /* background-color: #e4e4e4; */
}

#comment-extras > div > i {
    height: 16px;
    font-size: 16px;
}

#comment-extras > i {
    height: 16px;
    font-size: 16px;
    color: #7c7c7c;

}

#left-csec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 5px
}

#c-line {
    background-color: #EDEFF1;
    width: 8%;
    height: 65%;
    border-radius: 4px;
}

#if-comments {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 25%;
}

#time-comm {
    color: #7c7c7c;
}

#avatar6 {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    margin-bottom: 1%;
}

#right-csec > span {
    font-size: 12px;
    display: flex;
    gap: 3px;
}

#right-csec > p {
    font-size: 14px;
    margin: 0px;
    margin-top: 2%;

}

#sort-comments > div > input {
    padding: 7.5px;
    border: 1px solid #EDEFF1;
    padding-left: 23px;
    padding-right: 10px;
    border-radius: 4px;
    font-weight: lighter;
    font-size: 12px;
}

#searchI {
    align-self: center;
    position: absolute;
    margin-left: 0.4%;
    color: #acacac;
    font-size: 14px;
    margin-top: 0.2%;
}

.all-comments {
    margin-left: 6px
}

#sort-comments :nth-child(3) {
    display: flex;
    gap: 10px;
    align-items: center;
}

#comment4:hover, #menu:hover {
    background-color: #e4e4e4;
    border-radius: 3px;
    height: 22px;
    align-items: center;
    cursor: pointer;
}

#edit-menu {
    border: 2px solid #EDEFF1;
    width: 210px;
    position: absolute;
    background-color: white;
    margin-top: 0.5%;
    z-index: 7;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0.8px 0.8px 6px 0.8px #EDEFF1;
}

.menu {
    width: 26%;
    display: flex;
    justify-content: flex-end;
}

#edit-menu > label > input[type="checkbox"]{
    padding: 0px;
    margin: 0px;
}

#edit-menu > p{
    display: flex;
    align-items: center;
    line-height: 5px;
    margin: 0px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    align-items: center;
    width: 100%;
    gap: 5px;
    font-weight: 200;
    border-top: 1px solid #EDEFF1;
    cursor: pointer;

}

#edit-menu > p:hover, #edit-menu > label:hover {
    background-color: #eff7fe;
}

#edit-menu > label {
    display: flex;
    gap: 5px;
    font-weight: 200;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    padding-left: 6px;
    border-top: 1px solid #EDEFF1;
}

#hidden {
    display: none;
}


#my-comments {
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
    background-color: #F6F7F8;
    z-index: 3;
    display: flex;
    overflow: hidden;
    position: absolute;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    align-items: center;
    gap: 14px;
}

#my-comments i:first-child {
    margin-left: 14px;


}

#my-comments > i:not(#divider16) {
    color: #7C7C7C;
    height: 18px;
}

#my-comments > i:not(:first-child) {
    font-size: 18px;
}


.comment-input > textarea{
    width: 98.3%;
    height: 138px;
    border: 1px solid #EDEFF1;
    border-radius: 4px;
    padding-left: 1%;
    resize: vertical;
    margin-bottom: -1.1%;
}

.comment-input {
    position: relative;
    margin-left: 6px;
    width: 96%;
}

.comment-input > p {
    font-size: 12px;
    line-height: 4px;
}

.comment-input > p > span {
    color: #0079D3;
}

.top2 {
    width: 8%;
    height: 32px;
    position: fixed;
    top: 780px;
    background-color: #0079D3;
    color: white;
    border-radius: 20px;
    border: 0px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
}

#any-comments > i {
    font-size: 35px;
    color: rgba(0,121,211,0.4);
    height: 50px;
}

#any-comments > p {
    font-size: 18px;
    font-weight: 700;
    color: #7c7c7c;
    line-height: 15px;
}

#any-comments > span {
    font-size: 14px;
    color: #7c7c7c;
}

#comm-head {
    padding-left: 8%;
    display: flex;
    align-items: center;
    background-color: rgb(51, 168, 255);
    height: 85px;
    font-size: 10.5px;
    color: white;
    gap: 8px;
}

#comm-head > img {
    border: 2px solid white;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

#another {
    width: 99%;
    display: flex;
    margin-left: 1%;
    align-items: center;
    margin-right: 1%;
    height: 32px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    border: 0px;
    margin-top: -2.5%;
    justify-content: center;
    cursor: pointer;
    background-color: #0079D3;
    margin-bottom: 1%;
}

#delete-buttons {
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-color: #EDEFF1;
    padding-left: 16px;
    padding-right: 16px;
}

.deletePost > p {
    height: 73px;
    display: flex;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    margin: 0px;

}

.deletePost > h2 > i {
    color: #7c7c7c;
    height: 28px;
    font-size: 25px;
    cursor: pointer;
}

.deletePost > h2 {
    height: 53px;
    border-bottom: 1px solid #EDEFF1;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

.deletePost {
    border-radius: 5px;
    border: 0.8px solid #EDEFF1;
    background-color: white;
    overflow: hidden;
    width: 100%;

}

#delete-buttons > :nth-child(2) {
    width: 28%;
    display: flex;
    margin-left: 1%;
    align-items: center;
    height: 32px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    border: 0px;
    justify-content: center;
    cursor: pointer;
    background-color: #0079D3;
}

#delete-buttons > :nth-child(2):hover {
    width: 28%;
    display: flex;
    margin-left: 1%;
    align-items: center;
    height: 32px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    border: 0px;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(231, 32, 131);
}


#delete-buttons > :first-child {
    width: 22%;
    display: flex;
    margin-left: 1%;
    align-items: center;
    height: 32px;
    border-radius: 20px;
    color: #0079D3;
    font-weight: 700;
    border: 0px;
    border: 1px solid #0079D3;
    justify-content: center;
    cursor: pointer;
}

#delete-buttons > :first-child:hover {
    width: 22%;
    display: flex;
    margin-left: 1%;
    align-items: center;
    height: 32px;
    border-radius: 20px;
    color: #7C7C7C;
    font-weight: 700;
    border: 0px;
    border: 1px solid #7C7C7C;
    justify-content: center;
    cursor: pointer;
}

#deleted-post {
    margin-top: 20%;
}

.post-input7 > textarea {
    width: 98.5%;
    height: 138px;
    border: 1px solid #EDEFF1;
    border-radius: 4px;
    padding-left: 1%;
    padding-top: 50px;
    resize: vertical;
}

#add-to7 {
    width: 100%;
    height: 40px;
    margin-bottom: -0px;
    background-color: #F6F7F8;
    z-index: 3;
    display: flex;
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    align-items: center;
    gap: 14px
}

#add-to7 i:first-child {
    margin-left: 14px;


}

.post-input7 {
    position: relative;
}


#add-to7 > i:not(#divider16) {
    color: #7C7C7C;
    height: 18px;
}

#add-to7 > i:not(:first-child) {
    font-size: 18px;
}

#save {
    width: 99%;
    display: flex;
    justify-content: flex-end;
    gap: 1px;
    margin-top: 10px;
    align-items: center;
}

#save :first-child {
    color: #0079D3;
    background: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    width: 85px;
    height: 26px;
}

#save :first-child:hover {
    color: #0079D3;
    background: transparent;
    border: 0px;
    width: 85px;
    height: 26px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    background-color: #EDEFF1;
}


#save-submit {
    border: 0px;
    background-color: #878A8C;
    width: 90px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    color:#ccc;
    cursor: pointer;
}

#save-submit2 {
    border: 0px;
    background-color: #0079D3;
    width: 90px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    color:white;
    cursor: pointer;
}

#save-submit2:hover {
    border: 0px;
    background-color: #0181e2;
    width: 90px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    color:white;
    cursor: pointer;
}

.post-modal {
    top: 0;
    right: 0;
    z-index: 9;
    left: 0;
    position: fixed;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;

}

.whole-post-page2 {
    display: flex;
    background-color: #DAE0E6;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3.5%;
    display: flex;
    justify-content: space-between;
}

#t-head, #close-head {
    font-weight: 900;
}

.whole-post-page2 > .post-page {
    margin-top: 3%;
    margin-bottom: 2% ;
    /* margin-bottom: 10%; */
}

.side-community2 {
    width: 29%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 3%;

}


#header-profile-comm4 {
    background-color: #0079D3;
    height: 34px;
    width: 100%;
}

#profile-content {
    width: 100%;
    padding-right: 4%;
    padding-left: 4%;
    background-color: white;
}

#profile-about7 {
    width: 90%;
    display: flex;
}

#your-community-profile {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 1px solid #ccc;
    overflow: hidden;
    cursor: pointer;
}

#join-now {
    width: 92%;
    background-color: #0079D3;
    border-radius: 20px;
    height: 32px;
    color: white;
    margin-bottom: 5px;
    border: 0px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    transition: color 0.1s, background-color 0.1s;
    position: relative;
}

#join-now2::after {
    content: "Leave";
    opacity: 0;
    transition: opacity 0.1;
    position: absolute;
    transform: translate(-100%, 0%); /* Adjust for vertical and horizontal centering */
}

#join-now2:hover {
    color: transparent;
    background-color: #f4fafe;
}

#join-now2:hover::after {
    opacity: 1;
    color: #0079D3;
}

#join-now:hover {
    background-color: #0181e2;
}

#join-now2 {
    width: 92%;
    color: #0079D3;
    border-radius: 20px;
    height: 32px;
    background-color: white;
    margin-bottom: 5px;
    border: 1px solid #0079D3;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}

.whole-post-page2 > .post-page {
    background-color: white;
    justify-content: flex-start;
    display: flex;
    border: 0.8px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 70%;
    display: flex;
}

#post-details-head {
    height: 52px;
    color: #d7dadc;
    display: flex;
    justify-content: space-between;
    top: 5.5%;
    align-items: center;
    background-color: #030303;
    position: sticky;
    font-size: 12px;
    transition: top .3s ease;
    z-index: 70;
}

.sticky {
    transform: translateY(-100%); /* Move the header up */
  }


#post-details-head > div {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 8%;
}


#post-details-head > span {
   padding-right: 7%;
}

#post-details-head > div > i {
    font-size: 16px;
    height: 16px;
}

#heart25 {
    color: #7c7c7c;
    cursor: pointer;
}

#close-head {
    cursor: pointer;
}

#line5 {
    background-color: #d7dadc;
    height: 14px;
    width: 1px;
}

#profile-comm-title7 {
    display: flex;
    gap: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
    font-weight: 900;

}

#profile-comm-title7 > div {
    width: 50px;
    font-size: 30px;
    height: 50px;
    border-radius: 100%;
    background-color: #0079D3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#post-details-head > span {
    display: flex;
    align-items: center;
    gap: 5px
}

#post-details-head > span > i {
    height: 20px;
    font-size: 20px;
}

#when-created {
    display: flex;
    gap: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #7C7C7C;
    font-size: 14px;
}


#when-created > i{
    color: black;
}


#cs-background7 {
    background-color: #0079D3;
    height: 50px;
    background-color: #0079D3;
    height: 50px;
    align-items: center;
    display: flex;
}

#side-bar7 {
    width: 100%;
    border-radius: 4px;
    border: 1px solid#ccc;
    overflow: hidden;

}

#home-section7 > #but4 {
    width: 92%;
    background-color: white;
    border-radius: 20px;
    height: 32px;
    color: #0079D3;
    border: 1px solid #0079D3;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 12px;
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}

#home-section7 > #but4:hover {
    background-color: #f4fafe;
}

#home-section7 {
    padding-top: 5%;
    background: white;
}

#cs-side7 {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 90%;
    color: #0079D3;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 4%;
    padding-right: 4%;
}

#cs-side7 :nth-child(2) {
    padding-top: 15px;
    font-weight: 900;
    margin-right: 5px;
    cursor: pointer;
}

#cs-side7 :first-child {
    cursor: pointer;

}

#cs-background7 > p:first-child {
    margin: 0px;
    color: white;
    font-size: 14px;
    font-weight: 900;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}

#cs-side9 {
    display: flex;
    margin-top: 1%;
    margin-bottom: 6%;
}

#cs-side9 > span {
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    font-size: 10px;
    color: #7C7C7C;
}
#cs-side9 > span > div, #cs-side9 > span > i {
    font-size: 16px;
    color: black;
}

#nameOf3 {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 12px;

}

#nameOf3 > p {
    line-height: 5px;
    color: #878A8C;
}

#nameOf3 > span {
    font-weight: 700;
}

#nameOf3 > img {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    object-fit: fill;
}

#height-idk {
    height: 100%
}

#one {
    left: 5.5%;
    right: 5.5%;
    position: absolute;
    object-fit: contain;
    /* position: fixed; */
}

#post-extras3 {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 10px;
    color: #878A8C;
    height: 42px;
    cursor: pointer;
    margin-top: 0.5%;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
}
